.wrapper {
	background: #060608;
	min-height: 100vh;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;

	.main {
		display: flex;
		flex-direction: column;
		min-height: 70vh;

		.discover-label {
			padding-bottom: 5px;
		}
		.wrap-discover-btn {
			position: relative;

			.discover-btn {
				cursor: pointer;
			    padding: 10px 0;
			    border-radius: 4px;
			    background: #FF2C1F;
			    text-align: center;
			    text-transform: capitalize;
			    width: 200px;
			    position: relative;

			    &::before {
			    	content: "";
			    	position: absolute;
			    	z-index: 3;
			    	top: 15px;
			    	right: 15px;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					
					border-top: 7px solid #fff;
			    }
			}

			.wrap-list-discover {
				position: absolute;
				z-index: 11;
				top: 0;
				left: 0;
				background: #FF2C1F;
				min-width: 300px;
				max-height: 500px;
				overflow-y: scroll;

				display: flex;
				flex-direction: column;

				.list-discover {
					padding: 15px 40px;
					border-bottom: 1px solid #1f1f1f;
					cursor: pointer;
				}

			}
		}

	}
	.footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.more-btn {
			cursor: pointer;
		    padding: 15px 0;
		    border-radius: 4px;
		    color: #fff;
		    background: #FF2C1F;
		    text-align: center;
		    text-transform: capitalize;
		    width: 250px;
		}
	}

	h1, h2, h3, h4, h5, p {
		color: #eaeaea;
		font-weight: 400;
	}
}

