.wrap-movie {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	
	.wrap-list-movie {
		width: 250px;
		height: auto;
		padding-bottom: 30px;

		.wrap-image {
			height: 375px;
			overflow: hidden;
			position: relative;
			
			.hover-favorite {
				width: 100%;
				height: 100%;
				background: rgba(0,0,0, .7);

				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				opacity: 0;

				&:hover {
					opacity: 1;
					transition: .2s;
				}

				.wrap-love {
					float: right;
					margin-top: 20px;
					margin-right: 20px;
					cursor: pointer;
				}
			}

			.img-movie {
				width: 100%;
			}
		}
		.title-movie {
			padding: 20px 0 8px;
			font-weight: 600;
		}
		.wrap-text {
			display: flex;
			flex-direction: row;
			font-size: 13px;

			.text-movie {
				color: rgba(255,255,255, .4);

				.border-list {
					padding: 0 10px;
				}
			}
			.genre {
				max-width: 168px;
				text-transform: lowercase;
				white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
			}

		}
	}
}

@media screen and (max-width: 480px) {
  .genre {
	max-width: 158px !important;
  }
}