.header {
	border-bottom: 1px solid #FF2C1F;
	padding: 0 0 30px;
	margin: 0 0 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	ul {
		display: flex;
		flex-direction: row;

		li {
			cursor: pointer; 

			.border-list {
				padding: 0 20px;
				color: #FF2C1F;
			}
			.total-favorite {

			}
		}
	}
}

.dark-mode {
  	filter: invert(1) hue-rotate(180deg);
	
	.invert {
	  filter: invert(1) hue-rotate(180deg)
	}

	img, picture, video, .discover-btn, .more-btn, .switch {
	  filter: invert(1) hue-rotate(180deg)
	}
}

.wrap-switch {
	display: flex;
	flex-direction: row;

	.label-switch {
		padding: 4px 10px 0 0;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;
		outline: none;

		input {
			position: absolute;
			top: -99999px;
			left: -99999px;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #FF2C1F;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 26px;
			&:before {
				position: absolute;
				content: "";
				height: 16px;
				width: 16px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 50%;
			}
		}
		input {
			&:checked {
				+ {
					.slider {
						background-color: #222;
						&:before {
							-webkit-transform: translateX(16px);
							-ms-transform: translateX(16px);
							transform: translateX(16px);
						}
					}
				}
			}
			&:focus {
				+ {
					.slider {
						box-shadow: 0 0 1px #222;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 428px) {
	.wrap-switch {
		margin-top: 20px;
	}
}